/* *{
    font-size: 20px;
}


.questions{
    margin: 10%;
    background-color: lightgray ;
}

.lifeline-container{
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: stretch;
    gap: 60%;

}

.left button{
    background-color: rgb(0, 162, 255);
    padding: 5px;
    width: fit-content;
    border: none;
    border-radius: 5px;
    color: white;
    margin:0 10px 10px 10px;
}

.right button{
    background-color: rgb(0, 162, 255);
    padding: 5px;
    width: fit-content;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 10px;

}

.quiz-container{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}
.quiz-container h1{
    text-align: center;
}

.option-container{
    display: grid;
    gap:40px
}
.option-container .top{
    display: flex;
    justify-content: center;

}
.option-container .top button{
    padding: 8px;
    background-color: rgb(0, 162, 255);
    margin-left: 10% ;
    border: none;
    border-radius: 5px;
    color: white;
    width: 20%;


}

.option-container .bottom{
    display: flex;
    justify-content: center;

}

.option-container .bottom button{
    padding: 8px;
    background-color: rgb(0, 162, 255);
    margin-left: 10% ;
    border: none;
    border-radius: 5px;
    color: white;
    width: 20%;


}

.button-container button{
    padding: 8px;
    background-color: rgb(0, 162, 255);
    margin-left: 10% ;
    margin-bottom: 5%;
    margin-top: 5%;
    border: none;
    border-radius: 5px;
    color: white;
    width: 20%;
    
}
*/ .btnrounded {
    border-radius: 50% !important;
}