/* *{
    font-size: 20px;
}


.questions{
    margin: 10%;
    background-color: lightgray ;
}

.lifeline-container{
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: stretch;
    gap: 60%;

}

.left button{
    background-color: rgb(0, 162, 255);
    padding: 5px;
    width: fit-content;
    border: none;
    border-radius: 5px;
    color: white;
    margin:0 10px 10px 10px;
}

.right button{
    background-color: rgb(0, 162, 255);
    padding: 5px;
    width: fit-content;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 10px;

}

.quiz-container{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}
.quiz-container h1{
    text-align: center;
}

.option-container{
    display: grid;
    gap:40px
}
.option-container .top{
    display: flex;
    justify-content: center;

}
.option-container .top button{
    padding: 8px;
    background-color: rgb(0, 162, 255);
    margin-left: 10% ;
    border: none;
    border-radius: 5px;
    color: white;
    width: 20%;


}

.option-container .bottom{
    display: flex;
    justify-content: center;

}

.option-container .bottom button{
    padding: 8px;
    background-color: rgb(0, 162, 255);
    margin-left: 10% ;
    border: none;
    border-radius: 5px;
    color: white;
    width: 20%;


}

.button-container button{
    padding: 8px;
    background-color: rgb(0, 162, 255);
    margin-left: 10% ;
    margin-bottom: 5%;
    margin-top: 5%;
    border: none;
    border-radius: 5px;
    color: white;
    width: 20%;
    
}
*/ .btnrounded {
    border-radius: 50% !important;
}
.countdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.countdown-item {
    color: #111;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 30px;
    margin: 10px;
    padding-top: 10px;
    position: relative;
    width: 100px;
    height: 100px;
}

.countdown-item span {
    color: #333;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}


.countdown-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

.option {
    background-color: #2f3640;
    border-radius: 45%;
    color: white;
    height: 60px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.option:hover {
    background-color: #3f4d61;
}

.lifeline {
    background: #80b918;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lifeline:hover {
    background-color: #aacc00;
}

.special {
    padding-left: 50px !important;
}

@media(max-width: 500px) {
    .option {
        font-size: 18px;
    }
}